@import '../../theme.scss';
.topbar-container {
    background-color: $white;
    padding: $padding;
    > h3 {
      font-size: $font-size-lg;
      color: $primary-color;
      font-weight: $bold;
    }
}