@import "../../../theme.scss";
.select-field-wrapper {
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    
    > select {
        border-radius: calc($border-radius - 5px);
        border: 0px;
        padding: 7px;
        margin: 5px 0px;
        font-weight: $regular;
        font-size: $font-size-xs;
        color: $primary-color;
        outline: 0px;
        background-color: $white;
    }
    > label {
        font-weight: $regular;
        font-size: $font-size-sm;
        color: $primary-color;
    }
    > select:disabled {
        background-color: $gray;
    }

    @media #{$xl-query}, #{$xxl-query} {
        > select {
            width: 26%;
        }
    }
}