@import "../../../theme.scss";
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    padding: 10px;
    border-radius: $border-radius;
    > p {
        color: $primary-color;
        font-size: $font-size-sm;
        margin-left: 5px;
        font-weight: $bold;
    }
}

.icon {
    color: $primary-color;
    font-size: 25px;
}